<!--@subject 【アイコニック】会員登録完了  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            {{htmlescape var=$customer.name}}様 <br />
							<br />
							アイコニックにご登録いただき、ありがとうございます！<br />
							{{htmlescape var=$customer.name}}様の会員登録が完了いたしました。続いて、転職支援サービスに申し込みましょう！<br />
							転職支援サービスに申し込むと、アジア転職のプロであるアイコニックのキャリアアドバイザーから{{htmlescape var=$customer.name}}様へ個別に連絡が届きます。<br />
							<br />
							・仕事面から生活面まで幅広くアジアで働き生活するってどういう感じ？<br />
							・日本での自分の経歴を活かせる仕事って海外に本当にあるの？<br />
							・語学力はどのくらい必要なの？<br />
							 <br />
							などなど、{{htmlescape var=$customer.name}}様のアジア転職に向けたお悩みやご相談にお答えすることができます。<br />
							 <br />
							まずはお気軽にアイコニックの転職支援サービスにお申し込みください！ <br />
							<br />
							<a target="_blank" href="{{store url=""}}">転職支援サービスに申し込む（無料）</a> button（約3分で完了します） <br />
							<br />
							少しでもご不明な点がございましたら、info@iconic-jp.comまでお気軽にご返信ください。 <br />
							良い海外転職のご支援ができることをアイコニック社員一同願っております！ <br />
							<br />
							――――――――――――――――――――――――――――――――――――<br />
							「国境を越えて働く人たちを応援する」<br />
							□発行:　株式会社アイコニックジャパン　<br />
							□アイコニックのウェブサイト　www.iconic-jp.com<br />
							□Facebook 公式ページ　https://www.facebook.com/iconicvn<br />
							□個人情報の取扱いについては個人情報保護方針をご覧下さい。<br />
							――――――――――――――――――――――――――――――――――――<br />
							※このメールは、送信専用メールアドレスから配信されています。<br />
							ご返信いただいてもお答えできませんので、ご了承ください。
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>