body.cms-page-view #main .main{
	padding: 0;
}
body.cms-page-view .page-title{
	padding: 40px;
	border-bottom: solid 2px #4571EB;
	padding-bottom: 10px;
}
body.cms-page-view .page-title h1{
	text-align: left;
	color: #4571EB;
	letter-spacing: 0;
}
body.cms-page-view .std .world-map{
	background: url('../images/cms/world-map-jp.jpg') top left no-repeat;
	height: 537px;
	position: relative;
}
body.cms-page-view.en .std .world-map{
	background: url('../images/cms/world-map.png') top left no-repeat;
	height: 537px;
	position: relative;
}
body.cms-page-view .world-map .text p,
body.cms-page-view .world-map .text ul li{
	text-shadow: 2px 0 0 #e8edfd, -2px 0 0 #e8edfd, 0 2px 0 #e8edfd, 0 -2px 0 #e8edfd, 1px 1px #e8edfd, -1px -1px 0 #e8edfd, 1px -1px 0 #e8edfd, -1px 1px 0 #e8edfd;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	letter-spacing: -1px;
	line-height: 21px;
}
body.cms-page-view .world-map .text p{
	text-align: center;
}
/*
 * about-iconic
 */
#about-iconic .world-map .text{
	width: 320px;
	position: absolute;
	right: 20px;
	top: 120px;
}
#about-iconic .world-map .text p{
	text-shadow: 2px 0 0 #e8edfd, -2px 0 0 #e8edfd, 0 2px 0 #e8edfd, 0 -2px 0 #e8edfd, 1px 1px #e8edfd, -1px -1px 0 #e8edfd, 1px -1px 0 #e8edfd, -1px 1px 0 #e8edfd;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	text-align: center;
	letter-spacing: -1px;
	line-height: 21px;
}
#about-iconic .world-map .text p+p{
	margin-top: 35px;
	margin-bottom: 70px;
}
#about-iconic .content{
	background: url('../images/cms/about-left.png'), url('../images/cms/about-right.png');
	background-position: left top, right top;
	background-repeat: no-repeat, no-repeat;
	padding: 25px 65px;
	padding-bottom: 60px;
}
.cms-blue-tit{
	font-weight: bold;
	color: #4571EB;
	margin-bottom: 20px;
	font-size: 21px;
}
#about-iconic .list h4{
	padding-left: 17px;
	background: url('../images/cms/orange-icon.png') left center no-repeat;
	color: #000;
	font-weight: bold;
}
#about-iconic .list+.list{
	margin-top: 20px;
}
#about-iconic .list+.list+.list{
	margin-bottom: 50px;
}
/*
 * for-candidate-in-japan
 */
#for-candidate-in-japan .world-map .text{
	width: 290px;
	position: absolute;
	right: 20px;
	top: 50px;
}
#for-candidate-in-japan .world-map .text p{
	margin-bottom: 20px;
}
#for-candidate-in-japan .world-map .text ul{
	margin-left: 20px;
}
#for-candidate-in-japan .world-map .text ul li{
	padding-left: 17px;
	background: url('../images/cms/orange-icon.png') left center no-repeat;
	font-size: 13px;
	margin-bottom: 5px;
}
#for-candidate-in-japan h2{
	padding: 10px;
	text-align: center;
	background: url('../images/cms/seeker-bg.png') center top no-repeat;
	height: 37px;
	color: #fff;
	font-weight: bold;
	font-size: 35px;
}
#for-candidate-in-japan .content ul{
	width: 450px;
	margin: auto;
}
#for-candidate-in-japan .content ul li{
	border-bottom: solid 1px #a2b8f5;
	padding: 30px;
	padding-left: 120px;
	padding-right: 10px;
	position: relative;
}
#for-candidate-in-japan .content ul li:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: solid 10px transparent;
	border-top-color: #a2b8f5;
	bottom: -20px;
	left: 50%;
}
#for-candidate-in-japan .content ul li h5{
	color: #000;
	font-weight: bold;
}
#for-candidate-in-japan .content ul li p{
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -0.8px;
	margin-top: 5px;
}
#for-candidate-in-japan .content ul li:first-child{
	background: url('../images/cms/seeker1.png') 30px center no-repeat;
}
#for-candidate-in-japan .content ul li:first-child+li{
	background: url('../images/cms/seeker2.png') 30px center no-repeat;
}
#for-candidate-in-japan .content ul li:first-child+li+li{
	background: url('../images/cms/seeker3.png') 30px center no-repeat;
}
#for-candidate-in-japan .content ul li:first-child+li+li+li{
	background: url('../images/cms/seeker4.png') 30px center no-repeat;
}
#for-candidate-in-japan .content ul li:first-child+li+li+li+li{
	background: url('../images/cms/seeker5.png') 10px center no-repeat;
}
#for-candidate-in-japan .content ul li:first-child+li+li+li+li+li{
	background: url('../images/cms/seeker6.png') 30px center no-repeat;
}
#for-candidate-in-japan .content .button{
	text-align: center;
	margin: 50px auto;
}
#for-candidate-in-japan .content .button a{
	padding: 8px 20px;
	padding-left: 50px;
	background: url('../images/cms/submit-icon.png') 10px center no-repeat #dc8a55;
	border-bottom: solid 3px #b85f26;
	color: #d9dadb;
	font-size: 21px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
}
#for-candidate-in-japan .content .button a span{
	font-size: 14px;
}
#for-candidate-in-japan .text .button{
	text-align: center;
}
#for-candidate-in-japan .text .button a{
	padding: 3px 10px;
	padding-left: 40px;
	background: url('../images/cms/submit-icon.png') 5px center no-repeat #dc8a55;
	border-bottom: solid 2px #b85f26;
	color: #d9dadb;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
}
#for-candidate-in-japan .text .button a span{
	font-size: 13px;
}