.row{
	width: 100%;
	display: block;
	position: relative;
}
.row input{
	color: #000;
}
.row:after{
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.row .last{
	float: right;
}

.row.row2 input{
	width: 130px;
}
.row.row2 select{
	width: 155px;
	background: url('../images/select-arrow.png') 120px center transparent no-repeat;
}
.row.row3 select{
	background: url('../images/select-arrow.png') 70px center transparent no-repeat;
}
.row.row3 input,
.row.row3 select{
	width: 105px;
}
input[type="radio"],
input[type="checkbox"]{
	width: auto;
	display: inline;
}
.row.lang > *{
	display: inline-block;
}
.row.lang > .text{
	width: 80px;
}
.row.lang > select{
	width: 120px;
}
textarea{
	width: 324px;
	resize: vertical;
	margin-top: 10px;
}
.row.heading{
	margin-top: 20px;
}
.row.heading > span{
	text-transform: uppercase;
	font-weight: bold;
	color: #636466;
	padding-bottom: 5px;
	background: url('../images/long-black-tit.png') left bottom no-repeat transparent;
}
.row.heading > .last{
	letter-spacing: -1px;
}
.row.heading > .last input{
	margin-top: 0;
	margin-left: 10px;
}
.row #month{
	margin-left: 15px;
}
input[type="submit"]{
	width: auto;
	margin: auto;
	display: block;
	margin-top: 20px;
	border: 0;
	font-size: 20px;
	padding: 4px 20px;
	color: #fff;
}
#year{
	width: 80px!important;
}
input[readonly]{
	background-color: #ffe6cb!important;
}
