/*
	SEARCH RESULTS
*/
.job-wrapper{
	color: #636466;
	padding: 25px 0;
}
.job-wrapper + .job-wrapper{
	border-top: solid 2px #cccdce;
}
.job-wrapper .iconic-id{
	padding: 3px 10px;
	background-color: #c6c7c9;
	color: #000;
	display: inline-block;
	margin-bottom: 10px;
}
.job-wrapper b{
	color: #272525;
}
.job-wrapper .title{
	color: #272525;
	font-weight: bold;
}
.job-wrapper table{
	width: 100%;
}
.job-wrapper .job-details > table > tr > td{
	padding: 5px 10px;
	width: 25%;
}
.job-wrapper .actions{
	margin-top: 20px;
}
.job-wrapper .actions a{
	color: #fff;
	padding: 3px 10px;
	text-decoration: none;
	background-color: #a5bbf5;
	border-radius: 3px;
	border-bottom: solid 2px #8faaf3;
}
.job-wrapper .actions a.apply{
	background-color: #6a8def;
	border-color: #4571eb;
}
.job-wrapper .actions a:hover{
	background-color: #a1c5f9;
	border-color: #79acf6;
}
.job-wrapper .actions a+a{
	margin-left: 10px;
}
.info-search .amount span{
	color: #f58220;
}
.info-search .inline-b + .inline-b{
	margin-left: 20px;
}
.info-search .inline-b span{
	color: #f58220;
}
.pager{
	text-align: center;
}
.pager ul li a{
	padding: 3px 10px;
	border-radius: 3px;
	border: solid 1px #4571EB;
	color: #4571EB;
	background-color: #fff;
}
.pager ul li span{
	background-color: #4571EB;
	color: #fff;
}
.no-results{
	margin-top: 20px;
}
.no-results .fll.text{
	margin-left: 10px;
}
h2.blue-tit{
	border: none
}
.info-search{
	padding-bottom: 10px;
	border-bottom: solid 2px #4571EB;
}
