/*
	Styles for IconicJP
*/
body{
	background-color: #dadbdc;
}
html, button, input, select, textarea {
	font: 15px 'MS PGothic';
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color: #636466;
	font-size: 14px;
}
/*
 * SHORT TEMPLATE
 */
body.short #header-landing,
body.short #search-block,
body.short #banner,
body.short #blog-news .wrapper > *{
	display: none;
}
body.short #main .main{
	background-color: transparent!important;
}
#header-logo{
	background-color: #4571eb;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
#header-logo #logo{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 20px;
}
#header-logo #menu{
	margin-right: 20px;
	margin-top: 30px;
}
#header-logo #menu ul li a{
	color: #b5c6f7;
	font-weight: bold;
	margin-left: 50px;
}
#header-logo #menu ul li.border a{
	padding: 3px 10px;
	border: solid 3px #B5C6F7;
	margin-left: 15px;
	border-radius: 3px;
	-webkit-transition: color 200ms,background-color 200ms;
	-moz-transition: color 200ms,background-color 200ms;
	-o-transition: color 200ms,background-color 200ms;
	transition: color 200ms,background-color 200ms;
}
#header-logo #menu ul li.border a:hover{
	background-color: #b5c6f7;
	color: #4571EB;
}
#header-logo #switch-languages{
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}
#header-logo #switch-languages ul li{
	display: inline;
}
#header-menu{
	background-color: #b5c6f7;
	padding: 10px 0px;
	padding-bottom: 15px;
	margin-top: 76px;
}
#header-menu ul{
	padding: 0 20px;
}
#header-logo #menu ul li, #header-menu ul li{
	display: inline;
	font-size: 14px;
}
#header-menu ul li{
	margin: 0 25px;
}
#header-menu ul li > a{
	color: #7495f0;
}
#header-menu ul li:first-child{
	margin-left: 0;
}
#header-menu ul li.border{
	float: right;
	display: block;
	margin: 0;
	margin-top: 5px;
	border-radius: 3px;
}
#header-menu ul li.border > a{
	-webkit-transition: color 200ms,background-color 200ms;
	-moz-transition: color 200ms,background-color 200ms;
	-o-transition: color 200ms,background-color 200ms;
	transition: color 200ms,background-color 200ms;
	padding: 3px 10px;
	border: solid 2px #7495f0;
	border-radius: 4px;
}
#header-menu ul li.border > a:hover{
	color: #b5c6f7;
	background-color: #7495f0;
}
#header-landing{
	height: 447px;
	border-top: solid 2px #dadbdc;
	border-bottom: solid 2px #dadbdc;
	width: 100%;
}
#header-landing #ajax-load{
	width: 100%;
	height: 0;
	position: absolute;
	z-index: 999;
	background-color: rgba(181, 198, 247, 0.95);
	-webkit-transition: height 0.35s ease-out;
    -moz-transition: height 0.35s ease-out;
    -ms-transition: height 0.35s ease-out;
    -o-transition: height 0.35s ease-out;
    transition: height 0.35s ease-out;
}
#header-landing #ajax-load.open{
	height: 178px;
}
#header-landing #ajax-load.open.open-1{
	height: 88px;
}
#header-landing #ajax-load p.success{
	width: 680px;
	padding: 9px;
	border: solid 1px #4571EB;
	text-align: center;
	margin: 15px auto;
}
#ajax-load #response{
	padding: 5px 20px;
	text-align: center;
	display: none;
	color: #4571EB;
}
/*
 * Account Login
 */
#header-landing #ajax-load .content .account-login{
	width: 360px;
	margin: 20px auto;
}
.account-login input{
	width: 338px;
	background-position: 98% center;
	background-repeat: no-repeat;
	background-image: url('../images/user.png');
}
.account-login input+input{
	margin: 15px 0;
	background-image: url('../images/password.png');
}
/*
 * Forgot Pass
 */
#ajax-load input#email_address{
	background-position: 98% center;
	background-repeat: no-repeat;
	background-image: url('../images/user.png');
	width: 350px;
	margin-left: 20px;
	margin-right: 60px;
}
#ajax-load #form-forgot-password{
	width: 570px;
	margin: 20px auto;
	margin-top: 40px;
}
#ajax-load #form-forgot-password p{
	font-size: 12px;
	letter-spacing: -1px;
	margin-bottom: 25px;
	margin-top: 10px;
	text-align: center;
}
#ajax-load #form-forgot-password button{
	padding: 5px 10px;
}
#header-landing .background{
	width: 100%;
}
#header-landing .background .bg{
	width: 100%;
	height: 447px;
	position: absolute;
	z-index: 1;
}
.bg1{
	background: url('../images/slide2.png') center top white repeat-x;
}
.bg2{
	background: url('../images/slide1.png') center top white repeat-x;
}
#header-landing .wrapper{
	position: relative;
}
#header-landing .create-cv{
	position: absolute;
	z-index: 9;
	width: 470px;
	bottom: 0;
	left: 216px;
	background-color: #fff;
	padding: 0 28px;
	padding-top: 30px;
	padding-bottom: 42px;
}
#header-landing .create-cv p{
	text-align: center;
	color: #000;
	font-size: 18px;
	line-height: 26px;
}
#header-landing .create-cv p.slogan{
	text-align: center;
	color: #4571eb;
	font-size: 31px;
	font-weight: bold;
	margin-bottom: 20px;
}
#header-landing .buttons{
	margin-top: 30px;
	text-align: center;
}
#header-landing .buttons a{
	display: inline-block;
	background: url('../images/left-button.png') top center no-repeat transparent;
	width: 198px;
	color: #4571EB;
	text-align: center;
	letter-spacing: -0.5px;
	line-height: 18px;
	height: 32px;
	padding: 17px 10px;
	font-size: 13px;
}
#header-landing .buttons a+a{
	background: url('../images/right-button.png') top center no-repeat transparent;
	color: #fff;
}
#header-landing .buttons a:hover{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}
#header-landing .buttons a+a{
	margin-left: 20px;
}
#search-block{
	background-color: #b5c6f7;
}
#search-block .search-block{
	padding: 20px 40px;
}
#search-block .search-block input{
	background-color: #e1e8fc;
	padding-left: 30px;
	background: url('../images/search.png') 10px 10px #e1e8fc no-repeat;
	margin-bottom: 15px;
	color: #4571eb;
	width: 700px;
}
#search-block .search-block input:focus{
	background-color: #dbdcdd;
}
#search-block .search-block select{
	width: 230px;
	display: inline-block;
}
#search-block .search-block select+select {
	margin-left: 21px;
}
#search-block #search-btn{
	background-color: #df8c56;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	padding: 3px 10px;
	font-size: 15px;
	border-bottom: solid 2px #d7712e;
}
/*
 * Main
 */
#main{
	margin: 35px auto;
	margin-bottom: 75px;
}
#main .main{
	margin: 20px 40px;
	background-color: #fff;
	padding: 30px;
	border-bottom: solid 5px #bababb;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*
 * Footer
 */
#banner{
	border-bottom: solid 2px #4571eb;
	background-color: #fff;
}
#banner .heading{
	background: url('../images/blue-bar.png') center 30px transparent repeat-x;
	height: 50px;
	width: 100%;
	position: relative;
}
#banner .heading h2{
	width: 170px;
	text-align: center;
	background-color: #fff;
	position: absolute;
	bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}
#banner .banners{
	padding: 20px;
	padding-bottom: 20px;
}
#blog-news{
	margin-top: 60px;
	padding-bottom: 120px;
	position: relative;
}
#blog-news .news .content{
	height: 280px;
	margin-top: 20px;
	overflow-y: auto;
}
#blog-news .countries .content{
	margin-top: 10px;
}
#blog-news .countries .content a{
	display: block;
	margin-top: 20px;
	padding: 8px 0;
	background-position: 30px center;
	background-color: #c0c1c3;
	border-bottom: solid 2px #b0b2b4;
	width: 225px;
	border-radius: 3px;
	padding-left: 95px;
	color: #919395;
	font-size: 17px;
	background-repeat: no-repeat;
	font-weight: bold;
}
#blog-news .countries .content a.vn{
	background-image: url('../images/vn.png')
}
#blog-news .countries .content a.myan{
	background-image: url('../images/myan.png')
}
#blog-news .countries .content a.cambodia{
	background-image: url('../images/cambodia.png')
}
#blog-news .countries .content a.indo{
	background-image: url('../images/indo.png')
}
#blog-news .countries .content a.india{
	background-image: url('../images/india.png')
}
#contact-info{
	padding: 20px;
	background-color: #b5c6f7;
	position: absolute;
	min-height: 100px;
	width: 920px;
	bottom: -100px;
}
#contact-info .yasu-info .yasu-photo{
	width: 115px;
	height: 115px;
	border: solid 2px #4571EB;
	border-radius: 5px;
	background: url('../images/yasu.png') center bottom no-repeat white;
}
#contact-info .yasu-info .fll+.fll{
	margin-left: 15px;
	margin-top: 35px;
}
#contact-info .yasu-info .yasu-blog{
	padding: 3px 10px;
	background-color: #fff;
	font-weight: bold;
	font-size: 21px;
	color: #4571EB;
	border-radius: 3px;
	display: block;
	width: 68px;
	margin-bottom: 15px;
	-webkit-transition: color 200ms,background-color 200ms;
	-moz-transition: color 200ms,background-color 200ms;
	-o-transition: color 200ms,background-color 200ms;
	transition: color 200ms,background-color 200ms;
}
#contact-info .yasu-info .yasu-blog:hover{
	background-color: #4571EB;
	color: #fff;
}
#contact-info .yasu-info p{
	color: #4571eb;
	font-size: 13px;
}
#contact-info .yasu-info p > b{
	text-decoration: underline;
	line-height: 25px;
	font-size: 17px;
}
#contact-info .info{
	border: solid 2px #fff;
	padding: 10px;
	width: 450px;
}
#contact-info .info .content{
	background-color: #fff;
	padding: 20px;
	font-size: 13px;
	padding-bottom: 10px;
}
#contact-info .info .content .fll{
	margin-top: 10px;
}
#contact-info .info .content .fll + .fll{
	margin-left: 15px;
	margin-top: 13px;
}
#contact-info .info .content p{
	margin-bottom: 5px;
}
#contact-info .info .content .inline{
	margin-top: 10px;
}
#contact-info .info .content .inline+.inline{
	margin-left: 20px;
}
#contact-info .info .content .inline img{
	vertical-align: middle;
}
#contact-info .info a.contact-btn{
	background-color: #df8c56;
	padding: 3px 10px;
	border-bottom: solid 2px #d7712e;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
}
#other-web{
	background-color: #fff;
	padding-top: 115px;
	padding-bottom: 16px;
	letter-spacing: -2.3px;
	border-bottom: solid 1px #4571EB;
}
#other-web .inline-b{
	width: 20%;
	margin-left: 35px;
}
#other-web a{
	color: #4571EB;
	letter-spacing: -1px;
	display: block;
}
#footer-menu{
	background-color: #fff;
	padding: 16px;
}
#footer-menu .fll{
	margin-top: 10px;
}
#footer-menu ul li{
	display: inline;
	margin-left: 20px
}
#footer-menu ul li.current-menu-item > a{
	color: #000;
}
#footer-menu .social-links a{
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 10px;
}
#footer-menu .social-links a.fb{
	background-image: url('../images/socials/fb.png');
}
#footer-menu .social-links a.in{
	background-image: url('../images/socials/in.png');
}
#footer-menu .social-links a.google{
	background-image: url('../images/socials/google.png');
}
#footer-menu .social-links a.twitter{
	background-image: url('../images/socials/twitter.png');
}

/*
 * HOMEPAGE BLOCK
 */
#tab-content{
	overflow: hidden;
}
#tab-content-location{
	position: relative;
	background-color: #dae0e6;
}
#tab-content-location img.map{
	display: none;
	position: absolute;
}
#tab-content-location img.map.show{
	display: block!important;
}
#tab-content-location img.map:hover{
	cursor: pointer;
}
#tab-content-location img.vn{
	top: 317px;
	left: 102px;
}
#tab-content-location img.jp{
	top: 47px;
	left: 430px;
}
#tab-content-location img.id{
	top: 539px;
	left: 12px;
}
#tab-content-location .location{
	position: absolute;
	height: 100%;
	width: 160px;
	top: 0;
	right: 0;
	padding: 0 10px;
	background-color: #fff;
}
#tab-content-location .location >div{
	margin-top: 45px;
}
#tab-content-location .location h3 a{
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#tab-content-location .location h3{
	padding-left: 25px;
}
#tab-content-location .location .vietnam h3{
	background: url('../images/country/vietnam.png') left center no-repeat;
}
#tab-content-location .location .japan h3{
	background: url('../images/country/japan.png') left center no-repeat;
}
#tab-content-location .location .indonesia h3{
	background: url('../images/country/indonesia.png') left center no-repeat;
}
#tab-content-location .location ul li:before{
	content: ">";
	color: #d76f2c;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 2px;
}
#tab-content-location .location ul li a{
	color: #636466;
	text-decoration: underline;
}
#tab-content-location .location a:hover{
	color: #4571EB;
}
#tab-control .tab{
	color: #fff;
	font-weight: bold;
	background-color: #4571EB;
	padding: 15px 40px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 19px;
}
#tab-control .tab:hover{
	cursor: pointer;
	color: #fff;
	background-color: #86a3f2;
}
#tab-control .tab+.tab{
	margin-left: 8px;
}
#tab-control .tab.active{
	color: #636466;
	background-color: #F8F8F8;
}
#tab-content-category{
	padding: 30px;
	background-color: #fff;
}
#tab-content-category h5{
	font-weight: bold;
	font-size: 21px;
	padding-bottom: 5px;
	border-bottom: solid 2px #4571EB;
	padding-left: 10px;
	margin-bottom: 15px;
}
#tab-content-category .left{
	margin-left: 10px;
}
#tab-content-category div.parent a.parent{
	color: #272525;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}
#tab-content-category div.parent ul li a{
	color: #636466;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: -1px;
}
#tab-content-category a:hover{
	color: #4571EB!important;
	text-decoration: underline!important;
}
#tab-content-category .function .mid{
	margin-left: 152px;
	margin-right: 50px;
}
#tab-content-category .industry .mid{
	margin-left: 50px;
	margin-right: 30px;
}
#tab-content-category .group-category+.group-category{
	margin-top: 50px;
}
#tab-content-category div.parent+div.parent{
	margin-top: 60px;
}
#tab-content-language{
	padding: 40px;
	background-color: #f8f8f8;
}
#tab-content-language ul li{
	display: inline-block;
	width: 20%;
	padding-left: 30px;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: transparent;
	margin-top: 15px;
}
#tab-content-language ul li.vietnamese{
	background-image: url('../images/language/vietnamese.png');
}
#tab-content-language ul li.japanese{
	background-image: url('../images/language/japanese.png');
}
#tab-content-language ul li.english{
	background-image: url('../images/language/english.png');
}
#tab-content-language ul li.chinese{
	background-image: url('../images/language/chinese.png');
}
#tab-content-language ul li.korean{
	background-image: url('../images/language/korean.png');
}
#tab-content-language ul li.thai{
	background-image: url('../images/language/thai.png');
}
#tab-content-language ul li.indonesian{
	background-image: url('../images/language/indonesian.png');
}
#tab-content-language ul li.malay{
	background-image: url('../images/language/malay.png');
}
#tab-content-language ul li.tagalog{
	background-image: url('../images/language/tagalog.png');
}
#tab-content-language ul li.khmer{
	background-image: url('../images/language/khmer.png');
}
#tab-content-language ul li.hindi{
	background-image: url('../images/language/hindi.png');
}
#tab-content-language ul li.bengali{
	background-image: url('../images/language/bengali.png');
}
#tab-content-language ul li.burmese{
	background-image: url('../images/language/burmese.png');
}
#tab-content-language ul li a{
	color: #636466;
	text-decoration: none;
}
#tab-content-language ul li a:hover{
	color: #000;
	text-decoration: underline;
}
/*
 * BREADCRUMBS
 */
#breadcrumbs ul{
	margin-left: 75px;
	margin-top: 10px;
}
#breadcrumbs ul li{
	display: inline-block;
}
#breadcrumbs ul li a{
	text-decoration: underline;
}
#breadcrumbs span{
	color: #f58220;
}
#news-scroll .item-content .date{
	font-weight: bold;
	color: #000;
}
#news-scroll .item-content a:hover,
#news-scroll .item-content a:hover .date{
	color: #4571EB;
}
