/*
	Styles for IconicJP
*/
body{
	background-color: #dadbdc;
}
html, button, input, select, textarea {
	font: 15px 'MS PGothic';
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color: #636466;
	font-size: 14px;
}
#fixed-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
#header-logo{
	background-color: #4571eb;
}
#header-logo #logo{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 20px;
}
#header-logo #menu{
	margin-right: 20px;
	margin-top: 30px;
}
#header-logo ul li a{
	color: #b5c6f7;
	font-weight: bold;
	margin-left: 50px;
}
#header-logo ul li.border a{
	padding: 3px 10px;
	border: solid 3px #B5C6F7;
	margin-left: 15px;
	border-radius: 3px;
	-webkit-transition: color 200ms,background-color 200ms;
	-moz-transition: color 200ms,background-color 200ms;
	-o-transition: color 200ms,background-color 200ms;
	transition: color 200ms,background-color 200ms;
}
#header-logo ul li.border a:hover{
	background-color: #b5c6f7;
	color: #4571EB;
}
#header-menu{
	background-color: #b5c6f7;
	padding: 10px 0px;
	padding-bottom: 15px;
}
#header-menu ul{
	padding: 0 20px;
}
#header-logo ul li, #header-menu ul li{
	display: inline;
	font-size: 14px;
}
#header-menu ul li{
	margin: 0 25px;
}
#header-menu ul li > a{
	color: #7495f0;
}
#header-menu ul li:first-child{
	margin-left: 0;
}
#header-menu ul li.border{
	float: right;
	display: block;
	margin: 0;
	margin-top: 5px;
}
#header-menu ul li.border > a{
	-webkit-transition: color 200ms,background-color 200ms;
	-moz-transition: color 200ms,background-color 200ms;
	-o-transition: color 200ms,background-color 200ms;
	transition: color 200ms,background-color 200ms;
	padding: 3px 10px;
	border: solid 2px #7495f0;
}
#header-menu ul li.border > a:hover{
	color: #b5c6f7;
	background-color: #7495f0;
}
#header-landing{
	height: 447px;
	border-top: solid 2px #dadbdc;
	border-bottom: solid 2px #dadbdc;
	margin-top: 130px;
	width: 100%;
}
#header-landing #ajax-load{
	width: 100%;
	height: 0;
	position: absolute;
	z-index: 999;
	background-color: rgba(181, 198, 247, 0.95);
	-webkit-transition: height 0.35s ease-out;
    -moz-transition: height 0.35s ease-out;
    -ms-transition: height 0.35s ease-out;
    -o-transition: height 0.35s ease-out;
    transition: height 0.35s ease-out;
}
#header-landing #ajax-load.open{
	height: 178px;
}
#header-landing #ajax-load.open.open-1{
	height: 88px;
}
#header-landing #ajax-load p.success{
	width: 680px;
	padding: 9px;
	border: solid 1px #4571EB;
	text-align: center;
	margin: 15px auto;
}
#ajax-load #response{
	padding: 5px 20px;
	text-align: center;
	display: none;
	color: #4571EB;
}
/*
 * Account Login
 */
#header-landing #ajax-load .content .account-login{
	width: 360px;
	margin: 20px auto;
}
.account-login input{
	width: 338px;
	background-position: 98% center;
	background-repeat: no-repeat;
	background-image: url('../images/user.png');
}
.account-login input+input{
	margin: 15px 0;
	background-image: url('../images/password.png');
}
/*
 * Forgot Pass
 */
#ajax-load input#email_address{
	background-position: 98% center;
	background-repeat: no-repeat;
	background-image: url('../images/user.png');
	width: 350px;
	margin-left: 20px;
	margin-right: 60px;
}
#ajax-load #form-forgot-password{
	width: 570px;
	margin: 20px auto;
	margin-top: 40px;
}
#ajax-load #form-forgot-password p{
	font-size: 12px;
	letter-spacing: -1px;
	margin-bottom: 25px;
	margin-top: 10px;
	text-align: center;
}
#ajax-load #form-forgot-password button{
	padding: 5px 10px;
}
#header-landing .background{
	width: 100%;
}
#header-landing .background .bg{
	width: 100%;
	height: 447px;
	position: absolute;
	z-index: 1;
}
.bg1{
	background: url('../images/slide2.png') center top white repeat-x;
}
.bg2{
	background: url('../images/slide1.png') center top white repeat-x;
}
#header-landing .wrapper{
	position: relative;
}
#header-landing .create-cv{
	position: absolute;
	z-index: 9;
	width: 470px;
	bottom: 0;
	left: 216px;
	background-color: #fff;
	padding: 0 28px;
	padding-top: 30px;
	padding-bottom: 42px;
}
#header-landing .create-cv p{
	text-align: center;
	color: #000;
	font-size: 18px;
	line-height: 26px;
}
#header-landing .create-cv p.slogan{
	text-align: center;
	color: #4571eb;
	font-size: 31px;
	font-weight: bold;
	margin-bottom: 20px;
}
#header-landing .buttons{
	margin-top: 30px;
}
#header-landing .buttons a{
	display: inline-block;
	background: url('../images/left-button.png') top center no-repeat transparent;
	width: 198px;
	color: #4571EB;
	text-align: center;
	letter-spacing: -0.5px;
	line-height: 18px;
	height: 32px;
	padding: 17px 10px;
	font-size: 13px;
}
#header-landing .buttons a+a{
	background: url('../images/right-button.png') top center no-repeat transparent;
	color: #fff;
}
#header-landing .buttons a:hover{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}
#header-landing .buttons a+a{
	margin-left: 20px;
}
#search-block{
	background-color: #b5c6f7;
}
#search-block .search-block{
	padding: 20px;
}
#search-block .search-block input{
	background-color: #e1e8fc;
	padding-left: 30px;
	background: url('../images/search.png') 10px 10px #e1e8fc no-repeat;
	margin-bottom: 15px;
	color: #4571eb;
	width: 700px;
}
#search-block .search-block input:focus{
	background-color: #dbdcdd;
}
#search-block .search-block select{
	width: 230px;
	display: inline-block;
}
#search-block .search-block select+select {
	margin-left: 21px;
}
#search-block #search-btn{
	background-color: #df8c56;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	padding: 3px 10px;
	margin-right: 30px;
	font-size: 15px;
	border-bottom: solid 2px #d7712e;
}
/*
 * Main
 */
#main{
	margin: 35px auto;
	margin-bottom: 75px;
}
#main .main{
	margin: 20px;
	background-color: #fff;
	padding: 20px;
}
/*
 * Footer
 */
#banner{
	border-bottom: solid 2px #4571eb;
	background-color: #fff;
}
#banner .heading{
	background: url('../images/blue-bar.png') center 30px transparent repeat-x;
	height: 50px;
	width: 100%;
	position: relative;
}
#banner .heading h2{
	width: 170px;
	text-align: center;
	background-color: #fff;
	position: absolute;
	bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}
#banner .banners{
	padding: 20px;
	padding-bottom: 20px;
}
#blog-news{
	margin-top: 60px;
	padding-bottom: 120px;
	position: relative;
}
#blog-news .news .content{
	height: 280px;
	margin-top: 30px;
	overflow-y:scroll;
}
#blog-news .news .content .inside{
	height: 400px;
}
#blog-news .countries .content{
	margin-top: 10px;
}
#blog-news .countries .content a{
	display: block;
	margin-top: 20px;
	padding: 8px 0;
	background-position: 30px center;
	background-color: #c0c1c3;
	border-bottom: solid 2px #b0b2b4;
	width: 225px;
	border-radius: 3px;
	padding-left: 95px;
	color: #919395;
	font-size: 17px;
	background-repeat: no-repeat;
	font-weight: bold;
}
#blog-news .countries .content a.vn{
	background-image: url('../images/vn.png')
}
#blog-news .countries .content a.myan{
	background-image: url('../images/myan.png')
}
#blog-news .countries .content a.cambodia{
	background-image: url('../images/cambodia.png')
}
#blog-news .countries .content a.indo{
	background-image: url('../images/indo.png')
}
#blog-news .countries .content a.india{
	background-image: url('../images/india.png')
}
#contact-info{
	padding: 20px;
	background-color: #b5c6f7;
	position: absolute;
	min-height: 100px;
	width: 920px;
	bottom: -100px;
}
#contact-info .yasu-info .yasu-photo{
	width: 115px;
	height: 115px;
	border: solid 2px #4571EB;
	border-radius: 5px;
	background: url('../images/yasu.png') center bottom no-repeat white;
}
#contact-info .yasu-info .fll+.fll{
	margin-left: 15px;
	margin-top: 35px;
}
#contact-info .yasu-info .yasu-blog{
	padding: 3px 10px;
	background-color: #fff;
	font-weight: bold;
	font-size: 21px;
	color: #4571EB;
	border-radius: 3px;
	display: block;
	width: 68px;
	margin-bottom: 15px;
	-webkit-transition: color 200ms,background-color 200ms;
	-moz-transition: color 200ms,background-color 200ms;
	-o-transition: color 200ms,background-color 200ms;
	transition: color 200ms,background-color 200ms;
}
#contact-info .yasu-info .yasu-blog:hover{
	background-color: #4571EB;
	color: #fff;
}
#contact-info .yasu-info p{
	color: #4571eb;
	font-size: 13px;
}
#contact-info .yasu-info p > b{
	text-decoration: underline;
	line-height: 25px;
	font-size: 17px;
}
#contact-info .info{
	border: solid 2px #fff;
	padding: 10px;
	width: 450px;
}
#contact-info .info .content{
	background-color: #fff;
	padding: 20px;
	font-size: 13px;
}
#contact-info .info .content p{
	margin-bottom: 5px;
}
#contact-info .info .content .inline{
	margin-top: 10px;
}
#contact-info .info .content .inline+.inline{
	margin-left: 20px;
}
#contact-info .info .content .inline img{
	vertical-align: middle;
}
#contact-info .info a.contact-btn{
	background-color: #df8c56;
	padding: 3px 10px;
	border-bottom: solid 2px #d7712e;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
}
#other-web{
	background-color: #fff;
	padding-top: 115px;
	padding-bottom: 16px;
	letter-spacing: -1.8px;
	border-bottom: solid 1px #4571EB;
}
#other-web a{
	margin-left: 20px;
	color: #4571EB;
}
#footer-menu{
	background-color: #fff;
	padding: 16px;
}
#footer-menu .fll{
	margin-top: 10px;
}
#footer-menu ul li{
	display: inline;
	margin-left: 20px
}
#footer-menu ul li.current-menu-item > a{
	color: #000;
}
#footer-menu .social-links a{
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 10px;
}
#footer-menu .social-links a.fb{
	background-image: url('../images/socials/fb.png');
}
#footer-menu .social-links a.in{
	background-image: url('../images/socials/in.png');
}
#footer-menu .social-links a.google{
	background-image: url('../images/socials/google.png');
}
#footer-menu .social-links a.twitter{
	background-image: url('../images/socials/twitter.png');
}