.account-create{
	width: 360px;
	margin: auto;
}
.account-create h1{
	color: #000;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -1px;
	margin-bottom: 20px;
}
.account-create .field{
	margin-bottom: 20px;
}
.account-create input[type="text"],
.account-create input[type="password"]{
	width: 337px;
	border-color: #b0b2b4;
}
.account-create input[type="radio"]{
	margin-left: 35px;
}
.account-create select{
	border-color: #b0b2b4;
	color: rgb(150, 150, 150);
}
.account-create .buttons-set{
	text-align: center;
}
.account-create .buttons-set button{
	background: url('../images/register-btn.png') center no-repeat transparent;
	padding-left: 85px;
	font-size: 11px;
}
.account-create button{
	padding: 7px 62px;
}
body.customer-account-create #main .main{
	border: none;
}
