.account-create{
	width: 360px;
	margin: auto;
}
.account-create h1{
	color: #000;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -1px;
	margin-bottom: 20px;
}
.account-create .field{
	margin-bottom: 20px;
}
.account-create .field .input-box.align-center{
	text-align: center;
}
.account-create .field .input-box.align-center > select{
	width: 100px;
}
.account-create input:not([type="radio"]){
	width: 337px;
}
.account-create .buttons-set{
	text-align: center;
}
.account-create .buttons-set button{
	padding: 7px 20px;
	background: url('../images/error-btn.png') 10px center no-repeat #E9955D;
	padding-left: 35px;
	font-size: 11px;
	border-radius: 3px;
	border-bottom: solid 2px #d76f2c;
}
.account-create .buttons-set button.checked{
	background: none #6a8def;
	border-color: #4571EB;
	padding: 7px 20px;
}
body.customer-account-create #main .main{
	border: none;
	background-color: transparent;
}
.input-box.width-45 input{
	width: 139px;
}
.field .input-box p{
	font-size: 13px;
	margin-top: 5px;
}
.field .inline a{
	color: #000;
	font-weight: bold;
}
.field .inline a:hover{
	color: #4571EB;
}
