<?xml version="1.0"?>
<config>
    <modules>
        <Iconic_Blog>
            <version>1.0.2</version><platform>ce</platform>
        </Iconic_Blog>
    </modules>
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Iconic_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Iconic_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Iconic_Blog>
                    <files>
                        <Iconic_Blog>Iconic_Blog.csv</Iconic_Blog>
                    </files>
                </Iconic_Blog>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Iconic_Blog>
                    <files>
                        <default>Iconic_Blog.csv</default>
                    </files>
                </Iconic_Blog>
            </modules>
        </translate>

        <menu>
            <blog module="blog">
                <title>Blog</title>
                <sort_order>72</sort_order>
                <children>
                    <add translate="title" module="blog">
                        <title>Add Blog Article</title>
                        <sort_order>0</sort_order>
                        <action>blog/adminhtml_blog/new</action>
                    </add>
                    <items translate="title" module="blog">
                        <title>Blog Manager</title>
                        <sort_order>10</sort_order>
                        <action>blog/adminhtml_blog/index</action>
                    </items>
                    <category module="blog">
                        <title>Categories</title>
                        <sort_order>20</sort_order>
                        <action>blog/adminhtml_category/</action>
                    </category>
                    <comments module="blog">
                        <title>Comments</title>
                        <sort_order>30</sort_order>
                        <action>blog/adminhtml_comment/</action>
                    </comments>
                    <settings translate="title" module="blog">
                        <title>Settings</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/system_config/edit/section/blog</action>
                    </settings>
                </children>
            </blog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <blog>
                            <title>Blog</title>
                            <sort_order>50</sort_order>
                            <children>
                                <items translate="title">
                                    <title>Blog</title>
                                    <sort_order>10</sort_order>
                                </items>
                                <category translate="title">
                                    <title>Categories</title>
                                    <sort_order>20</sort_order>
                                </category>
                                <comments translate="title">
                                    <title>Comments</title>
                                    <sort_order>30</sort_order>
                                </comments>
                            </children>
                        </blog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blog>
                                            <title>Blog Section</title>
                                        </blog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>blog/check</class>
                        <method>checkExtensions</method>
                    </blog>
                </observers>
            </controller_action_predispatch>
            <admin_system_config_changed_section_blog>
                <observers>
                    <admin_system_config_changed_section_blog>
                        <class>blog/check</class>
                        <method>checkConfiguration</method>
                    </admin_system_config_changed_section_blog>
                </observers>
            </admin_system_config_changed_section_blog>
        </events>
    </adminhtml>
    <global>
        <models>
            <blog>
                <class>Iconic_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Iconic_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>blog_blog</table>
                    </blog>
                    <comment>
                        <table>blog_comment</table>
                    </comment>
                    <category>
                        <table>blog_category</table>
                    </category>
                    <blog_category>
                        <table>blog_blog_category</table>
                    </blog_category>
                    <!--<store>
                        <table>blog_store</table>
                    </store>-->
                    <blog_store>
                        <table>blog_blog_store</table>
                    </blog_store>
                    <category_store>
                        <table>blog_category_store</table>
                    </category_store>
                </entities>
            </blog_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Iconic_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>Iconic_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Iconic_Blog_Helper</class>
            </blog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Iconic_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
        </events>
        <rewrite>
            <blog_category_view>
                <complete />
                <from>#^/blog/category/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/blog/index/index/category/$1</to>
            </blog_category_view>
            <blog_blogitem_view>
                <complete />
                <from>#^/blog/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/blog/blogitem/view/key/$1</to>
            </blog_blogitem_view>
            <blog_blogitem_category_view>
                <complete />
                <from>#^/blog/([A-Za-z0-9\-\_]+)/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/blog/blogitem/view/category/$1/key/$2</to>
            </blog_blogitem_category_view>
        </rewrite>
        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>New Comment</label>
                    <file>blog/new_comment.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
    </global>
    <default>
        <blog>
            <blog>
                <title>Blog</title>
                <route>blog</route>
                <showbreadcrumbs>1</showbreadcrumbs>
                <itemsperpage>10</itemsperpage>
                <itemurlsuffix>.html</itemurlsuffix>
                <showdateofblog>1</showdateofblog>
                <showtimeofblog>0</showtimeofblog>
                <shortdescr_image_max_width>150</shortdescr_image_max_width>
                <shortdescr_image_max_height>120</shortdescr_image_max_height>
                <fulldescr_image_max_width>400</fulldescr_image_max_width>
                <fulldescr_image_max_height>300</fulldescr_image_max_height>
                <resize_to_max>1</resize_to_max>
            </blog>
            <comments>
                <enabled>1</enabled>
            </comments>
        </blog>
    </default>
</config>
